


  /* Navigation Styles */
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Cambiar el color de fondo */
    height: 720px;
}

.content {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px; /* Espacio superior */
    height: auto;
}

.textoPrincipal {
    margin-bottom: 20px;
}

.button-list {
    display: flex;
    justify-content: space-around;
}

.listar {
    border: none;
    background: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
    padding: 10px;
    transition: transform 0.3s ease-in-out; /* Efecto de transformación al pasar el mouse */
}

.listar:hover {
    transform: scale(1.05); /* Escalar ligeramente al pasar el mouse */
}

.listar img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 50%; /* Hacer las imágenes redondas */
}

.listar a {
    text-decoration: none;
    color: #333;
}

.listar a:hover {
    color: #ff6600; /* Cambiar color al pasar el mouse */
}
