<app-navbar></app-navbar>

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  
  <div class="search-form">
    <div class="form-group">
      <label for="incidenteIdInput">Ingrese el ID del incidente:</label>
      <input id="incidenteIdInput" type="number" [(ngModel)]="idIncidente" />
      <button (click)="buscar()">Buscar</button>
    </div>
    <hr />
    <div class="incidente-details" *ngIf="incidente">
      <h2 class="details-heading">Detalles del Incidente</h2>
      <div class="info-box">
        <h1>Descripcion</h1>
        <p>{{ incidente.descripcion }}</p>
      </div>
      <div class="info-box">
        <h1>Tipo de Incidente</h1>
        <p>{{ incidente.tipoIncidente }}</p>
      </div>
      <div class="info-box">
        <h1>Usuario</h1>
        <p>{{ incidente.usuario.nombre }}</p>
      </div>
      
      <!-- Agrega más campos según la estructura de tu objeto Vehiculo -->
    </div>
  </div>
  
</body>

</html>
<app-footer></app-footer>