/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.container {
  max-width: 600px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  /* Centra horizontalmente */
  margin-top: 50px;
}

h1 {
  color: #333;
}

/* Estilos para los campos de formulario */
mat-form-field {
  width: 100%;
  margin-bottom: 15px;
}

/*Estilos para los botones*/

button{
  margin: 10px;
}
