<app-navbar></app-navbar>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <header class="encabezado">
            <div class="btn-menu">
                <label for="btn-menu">☰</label>
            </div>
        </header>
        <input type="checkbox" id="btn-menu" />
        <div class="encabezado-menu">
            <div class="cont-menu">
                <nav>
                    <a href="listar_horario">Listar Horarios</a>
                    <a href="listar_horario/registrar_horario">Registrar Horarios</a>
                </nav>
                <label for="btn-menu">✖️</label>
            </div>
        </div>
    </div>
    <div class="container" style="text-align: center">
        <h1>Registro de Horario</h1>
        <form [formGroup]="form" (ngSubmit)="registrar()" class="example-form">


            <!-- Categoria dia -->
            <mat-form-field>
                <mat-label>Hora de cierre</mat-label>
                <mat-select formControlName="dia">
                    <mat-option *ngFor="let t of dias_semana" [value]="t.value">
                        {{ t.viewValue }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="obtenerControlCampo('dia')?.errors?.['required']">
                    La categoría es obligatoria.
                </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Hora de apertura</mat-label>
                <input matInput [ngxTimepicker]="apertura" placeholder="Hora de apertura"
                    formControlName="horaApertura" readonly>
                <ngx-material-timepicker #apertura></ngx-material-timepicker>
                <mat-error *ngIf="obtenerControlCampo('horaApertura')?.errors?.['required']">
                    La hora de apertura es obligatoria.
                </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Hora de cierre</mat-label>
                <input matInput [ngxTimepicker]="cierre" placeholder="Hora de cierre" formControlName="horaCierre"
                    readonly>
                <ngx-material-timepicker #cierre></ngx-material-timepicker>
                <mat-error *ngIf="obtenerControlCampo('horaCierre')?.errors?.['required']">
                    La hora de cierre es obligatoria.
                </mat-error>
            </mat-form-field>

            <br>
            <button mat-raised-button color="primary">REGISTRAR</button>
            <button mat-raised-button color="warn" routerLink="/listar"> CANCELAR </button>
        </form>
    </div>
</body>

</html>