<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="mySidenav" class="sidenav">
      <p class="logo">Portal Administrador</p>
      <input type="checkbox" class="menu-toggle" id="menu1" />
      <label for="menu1" class="menu">
        <i class="material-icons">dashboard</i> Dashboard
      </label>
      <input type="checkbox" class="menu-toggle" id="menu2" />
      <label for="menu2" class="menu">
        <i class="material-icons">attach_money</i> Membresias
      </label>
      <ul class="sub-menu">
        <li>
          <a href="membresia/registrar_membresias">Registrar membresias</a>
        </li>
        <li><a href="membresia/listar_membresias">Listar membresias</a></li>
        <li><a href="membresia/buscar_membresias">Buscar membresias</a></li>
      </ul>
      <input type="checkbox" class="menu-toggle" id="menu3" />
      <label for="menu3" class="menu">
        <i class="material-icons">directions_car</i> Vehiculos
      </label>
      <ul class="sub-menu">
        <li><a href="vehiculos/registrar_vehiculos">Registrar vehiculos</a></li>
        <li><a href="vehiculos/listar_vehiculos">Listar vehiculos</a></li>
        <li><a href="vehiculos/buscar_vehiculos">Buscar vehiculos</a></li>
      </ul>
      <input type="checkbox" class="menu-toggle" id="menu4" />
      <label for="menu4" class="menu">
        <i class="material-icons">people</i> Roles
      </label>
      <ul class="sub-menu">
        <li><a href="vehiculos/registrar_vehiculos">Registrar roles</a></li>
        <li><a href="vehiculos/listar_vehiculos">Listar roles</a></li>
        <li><a href="vehiculos/buscar_vehiculos">Buscar roles</a></li>
      </ul>
      <input type="checkbox" class="menu-toggle" id="menu5" />
      <label for="menu5" class="menu">
        <i class="material-icons">person</i> Usuarios
      </label>
      <ul class="sub-menu">
        <li><a href="usuarios/registrar_usuarios">Registrar usuarios</a></li>
        <li><a href="usuarios/listar_usuarios">Listar usuarios</a></li>
        <li><a href="usuarios/buscar_vehiculos">Buscar usuarios</a></li>
      </ul>
      <input type="checkbox" class="menu-toggle" id="menu6" />
      <label for="menu6" class="menu">
        <i class="material-icons">notification_important</i> Incidentes
      </label>
      <ul class="sub-menu">
        <li><a href="vehiculos/X">Registrar incidentes</a></li>
        <li><a href="vehiculos/X">Listar incidentes</a></li>
        <li><a href="vehiculos/X">Buscar incidentes</a></li>
      </ul>

      <input type="checkbox" class="menu-toggle" id="menu7" />
      <label for="menu7" class="menu">
        <i class="material-icons">calendar_today</i> Horarios
      </label>
      <ul class="sub-menu">
        <li><a href="horarios/registrar_horarios">Registrar horarios</a></li>
        <li><a href="horarios/listar_horarios">Listar horarios</a></li>
        <li><a href="horarios/modificar_horarios">Modificar horarios</a></li>
      </ul>

      <input type="checkbox" class="menu-toggle" id="menu8" />
      <label for="menu8" class="menu">
        <i class="material-icons">comment</i> Comentarios
      </label>
      <ul class="sub-menu">
        <li>
          <a href="listar_horario/registrar_vehiculos">Registrar comentarios</a>
        </li>
        <li><a href="listar_horario">Listar comentarios</a></li>
      </ul>

      <input type="checkbox" class="menu-toggle" id="menu9" />
      <label for="menu9" class="menu">
        <i class="material-icons">monetization_on</i> Pagos
      </label>
      <ul class="sub-menu">
        <li>
          <a href="listar_horario/registrar_vehiculos">Registrar pagos</a>
        </li>
        <li><a href="listar_horario">Listar pagos</a></li>
      </ul>

      <input type="checkbox" class="menu-toggle" id="menu10" />
      <label for="menu10" class="menu">
        <i class="material-icons">assignment_turned_in</i> Reservas
      </label>
      <ul class="sub-menu">
        <li>
          <a href="listar_horario/registrar_vehiculos">Registrar reservas</a>
        </li>
        <li><a href="listar_horario">Listar reservas</a></li>
      </ul>

      <input type="checkbox" class="menu-toggle" id="menu11" />
      <label for="menu11" class="menu">
        <i class="material-icons">add_location</i> Localizaciones
      </label>
      <ul class="sub-menu">
        <li>
          <a href="localizaciones/registrar_localizaciones"
            >Registrar localizaciones</a
          >
        </li>
        <li>
          <a href="localizaciones/listar_localizaciones"
            >Listar localizaciones</a
          >
        </li>
        <li>
          <a href="localizaciones/buscar_localizaciones"
            >Buscar localizaciones</a
          >
        </li>
        <li>
          <a href="localizaciones/modificar_localizaciones"
            >Modificar localizaciones</a
          >
        </li>
      </ul>
    </div>
  </body>
</html>
