<!-- creaedita-usuario.component.html -->

<div class="container" style="text-align: center">
  <h2>Registro de Equipajes</h2>
  <form
    [formGroup]="form"
    (submit)="registrar()"
    class="example-form"
    color="accent"
  >
    <br />
    <mat-form-field class="example-full-width" color="accent">
      <mat-label>nombre</mat-label>
      <input matInput placeholder="nombre" formControlName="nombre" />
      <mat-error *ngIf="obtenerControlCampo('nombre')?.errors?.['required']">
        El nombre es obligatorio.
      </mat-error>
    </mat-form-field>

    <br />
    <mat-form-field class="example-full-width" color="accent">
      <mat-label>apellido</mat-label>
      <input matInput placeholder="apellido" formControlName="apellido" />
      <mat-error *ngIf="obtenerControlCampo('apellido')?.errors?.['required']">
        El apellido es obligatorio.
      </mat-error>
    </mat-form-field>
    <br />
    <mat-form-field class="example-full-width" color="accent">
      <mat-label>correo</mat-label>
      <input matInput placeholder="correo" formControlName="correo" />
      <mat-error *ngIf="obtenerControlCampo('correo')?.errors?.['required']">
        El correo es obligatorio.
      </mat-error>
    </mat-form-field>
    <br />
    <mat-form-field class="example-full-width" color="accent">
      <mat-label>username</mat-label>
      <input matInput placeholder="username" formControlName="username" />
      <mat-error *ngIf="obtenerControlCampo('username')?.errors?.['required']">
        El username es obligatorio.
      </mat-error>
    </mat-form-field>
    <br />
    <mat-form-field class="example-full-width" color="accent">
      <mat-label>password</mat-label>
      <input matInput placeholder="password" formControlName="password" />
      <mat-error *ngIf="obtenerControlCampo('password')?.errors?.['required']">
        El password es obligatorio.
      </mat-error>
    </mat-form-field>
    <br />
    <mat-form-field class="example-full-width" color="accent">
      <mat-label>genero</mat-label>
      <mat-select formControlName="genero">
        <mat-option *ngFor="let p of generos" [value]="p.value">
          {{ p.viewValue }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="obtenerControlCampo('genero')?.errors?.['required']">
        El genero es obligatorio.
      </mat-error>
    </mat-form-field>
    <br />
    <mat-form-field class="example-full-width" color="accent">
      <mat-label>dni</mat-label>
      <input matInput placeholder="dni" formControlName="dni" />
      <mat-error *ngIf="obtenerControlCampo('dni')?.errors?.['required']">
        El dni es obligatorio.
      </mat-error>
    </mat-form-field>
    <br />
    <mat-form-field class="example-full-width" color="accent">
      <mat-label>imagen</mat-label>
      <input matInput placeholder="imagen" formControlName="imagen" />
      <mat-error *ngIf="obtenerControlCampo('imagen')?.errors?.['required']">
        El imagen es obligatorio.
      </mat-error>
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill" class="example-full-width" color="accent">
      <input
        matInput
        placeholder="Ingrese fecha"
        [matDatepicker]="picker"
        formControlName="fechaNacimiento"
        [max]="maxFecha"
      />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error
        *ngIf="obtenerControlCampo('fechaNacimiento')?.errors?.['required']"
      >
        La fecha de creacion es obligatoria.
      </mat-error>
    </mat-form-field>
    <br />
    <mat-form-field class="example-full-width" color="accent">
      <mat-label>telefono</mat-label>
      <input matInput placeholder="telefono" formControlName="telefono" />
      <mat-error *ngIf="obtenerControlCampo('telefono')?.errors?.['required']">
        El telefono es obligatorio.
      </mat-error>
    </mat-form-field>
    <br />
    <br />
    <mat-form-field class="example-full-width" color="accent">
      <mat-label>Estado</mat-label>
      <mat-select formControlName="enabled">
        <mat-option *ngFor="let p of estados" [value]="p.value">
          {{ p.viewValue }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="obtenerControlCampo('enabled')?.errors?.['required']">
        El enabled es obligatorio.
      </mat-error>
    </mat-form-field>

    <br />
    <mat-form-field class="example-full-width" color="accent">
      <mat-label>membresia</mat-label>
      <input matInput placeholder="membresia" formControlName="membresia" />
      <mat-error *ngIf="obtenerControlCampo('membresia')?.errors?.['required']">
        El membresia es obligatorio.
      </mat-error>
    </mat-form-field>
    <br />

    <button mat-raised-button color="accent">registrar</button>

    <p>{{ mensaje }}</p>
  </form>
</div>
