
/*Pie de pagina - Footer*/

footer {
    width: 100%;
    height: 300px;
    background-color: #000000;
    margin-top: auto;
    padding: 20px;
    min-width: 475px;
}
footer .container{
    display: flex; /*Columnas una de otras*/
    flex-wrap: wrap; /*Columnas debajo de otras*/
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
}

footer .seccion{
    display: flex;
    flex-direction: column;
    padding: 20px;
    line-height:0;
}

footer .seccion .logo img{
    width: 80px;
    height: 80px;
}

footer H2{

    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;

    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-weight: 500;
}
footer .seccion a{

    color: rgb(184, 184, 184);
    margin-top: 10px;
    margin-bottom: 10px;
    padding: auto;
    margin-right: auto;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
}
footer .seccion a:hover{
    opacity: 0.8;
}
footer .seccion a .fab{
    font-size: 12px;

}

footer H3{

    color: white;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
}

footer .Copyright{
    max-width: 1400px;
    margin: auto;
    text-align: center;
    padding: 0px 50px;
}

footer .Copyright p{

    margin-top: 20px;
    color: #ffffff;
    font-size: 15px;
}

footer .Copyright hr{

    border: none;
    height: 1px;
    background-color: #7a7a7a;
}