<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<div id="mySidenav" class="sidenav">
    <p class="logo">Portal Conductor</p>
    <input type="checkbox" class="menu-toggle" id="menu1">
    <label for="menu1" class="menu">
      <i class="material-icons">dashboard</i> Dashboard
    </label>
    <input type="checkbox" class="menu-toggle" id="menu2">
    <label for="menu2" class="menu">
      <i class="material-icons">local_parking</i> Estacionamientos
      <mat-icon class="icon-down">arrow_drop_down</mat-icon>
      <mat-icon class="icon-up">arrow_drop_up</mat-icon>
    </label>
    <ul class="sub-menu">
      <li><a href="#">Registrar X</a></li>
      <li><a href="#">Listar X</a></li>
      <li><a href="#">Buscar X</a></li>
    </ul>
    <input type="checkbox" class="menu-toggle" id="menu3">
    <label for="menu3" class="menu">
      <i class="material-icons">directions_car</i> Vehiculos
      <mat-icon class="icon-down">arrow_drop_down</mat-icon>
      <mat-icon class="icon-up">arrow_drop_up</mat-icon>
    </label>
    <ul class="sub-menu">
      <li><a href="vehiculos/registrar_vehiculos">Registrar vehiculos</a></li>
      <li><a href="vehiculos/listar_vehiculos">Listar vehiculos</a></li>
      <li><a href="vehiculos/buscar_vehiculos">Buscar vehiculos</a></li>
    </ul>
  </div>
  
</body>
</html>