body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.titulo {
  text-align: center; /* Center the text horizontally */
  background-color: #56ffcc; /* Change the background color to your preference */
  color: #050505; /* Text color */
  padding: 10px;
  font-size: 24px; /* Adjust the font size as needed */
  margin-bottom: 20px; /* Add spacing below the title */
}


/* Style the memberships list */
.membership-list {
  list-style: none;
  padding: 0;
  width: 500px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   align-items: center;
}

.membership-item {
  background: linear-gradient(135deg, #1d1d1d, #9e9e9e);
  margin: 10px;
  padding: 10px;
  height: 300px;
  width: 200px;
  border-radius: 5px;
  align-items: center;
}
/* Style the membership details */
.tipo_membresia {
  flex: 1;
  padding: 30px 30px 0px 30px;
  flex-wrap: wrap;
  margin: 0 auto;

}
.tipo_membresia h3 {
  font-size: 30px;
  color: #5cffa5;

}
.precio {
  flex: 1;
  padding: 10px;
  margin: 0 auto;
  flex-wrap: wrap;
  margin-left: 30px;

}

.precio p {
  font-size: 20px;
  color: #eee6e6;
}

.contenido p {
  font-size: 14px;
  color: #f8f6f6;
  margin: 10px;
  margin-bottom: 20px;
}
.botoncito {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
/* Style the "Editar" button */
.btn-primary {
  background-color: #41ffd6;
  color: #000000;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.btn-primary:hover {
  background-color: #000000;
  color: #fff;
}

/* Hover effect for membership items */
.membership-item:hover {
  background-color: #e0e0e0;
  transform: translateY(-2px);
  transition: background-color 0.3s, transform 0.3s;
}

/* New styles */



.membership-list a.premium {
  font-weight: bold;
  color: #007bff;
  background-image: url("https://example.com/premium-icon.png");
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 20px;
}

.membership-list a:hover {
  background-color: #f5f5f5;
  transform: translateY(-2px);
  transition: background-color 0.3s, transform 0.3s;
}
