<div [hidden]="route.children.length !== 0">
  <app-navbar></app-navbar>
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Document</title>
    </head>
    <body>
      <div>
        <header class="encabezado">
          <div class="btn-menu">
            <label for="btn-menu">☰</label>
          </div>
        </header>

        <input type="checkbox" id="btn-menu" />
        <div class="container-menu">
          <div class="cont-menu">
            <nav>
              <a href="localizaciones">Localizaciones</a>
            </nav>
            <label for="btn-menu">✖️</label>
          </div>
        </div>
      </div>

      <div>
        <h2 style="text-align: center">LISTA DE LOCALIZACIONES</h2>
      </div>

      <div class="container">
        <div class="card-container">
          <div class="card" *ngFor="let element of dataSource.data">
            <div class="card-header">
              {{ element.idLocalizacion }}
            </div>
            <div class="card-body">
              <p>Dirección: {{ element.direccion }}</p>
              <p>Distrito: {{ element.distrito }}</p>
              <p>Región: {{ element.region }}</p>
              <p>Referencia: {{ element.referencia }}</p>
              <p>Latitud: {{ element.latitud }}</p>
              <p>Longitud: {{ element.longitud }}</p>
            </div>
            <div
              id="map_{{ element.idLocalizacion }}"
              style="height: 200px"
            ></div>
            <div class="card-footer">
              <button
                mat-icon-button
                class="material-icons app-toolbar-menu"
                matTooltip=""
                color="warn"
                (click)="initializeMapForLocation(element)"
              >
                MIRAR EN MAPA
              </button>
              <button
                mat-icon-button
                class="material-icons app-toolbar-menu"
                matTooltip=""
                color="warn"
              >
                AGREGAR
              </button>
            </div>
          </div>
        </div>
      </div>
      <app-footer></app-footer>
    </body>
  </html>
  <router-outlet></router-outlet>
</div>
