/* Styles for the card container */
body {
  background: linear-gradient(to bottom, #22ffda, #080808),
              url('https://img.freepik.com/fotos-premium/central-park-hermoso-contraste-rascacielos-edificios-manhattan-nueva-york-ee-uu_71337-684.jpg?w=360');
  background-size: cover;
  color: #757575;
}
#container{
  background-color: #080808;
  width: 100%;

}
/* Styles for the individual card */
.card {
  width: 300px; /* Set the width as per your design */
  margin: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(243, 239, 239, 0.2);
  transition: box-shadow 0.3s;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgb(156, 156, 156);
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Styles for the card header */
.card-header {
  background-color: #f0f0f0;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ccc;
  border-radius: 8px 8px 0 0;
}

/* Styles for the card body */
.card-body {
  padding: 15px;
}

/* Styles for the card footer */
/* Style the "Agregar" button */
.card-footer button {
  background-color: #22ffda; /* Change the background color as desired */
  color: rgb(17, 16, 16); /* Text color */
  border: none;
  width: 90%;
  border-radius: 4px;
  padding: 10px 20px;
  margin: 10px;
  transition: background-color 0.3s;
}

.card-footer button:hover {
  background-color: #2c2a2a;
  color: aliceblue;/* Change the background color on hover */
}

/* Adjust the icon color */
.material-icons {
  color: rgb(0, 0, 0);
}
.material-icons:hover{

  color: rgb(255, 255, 255);
}

/* If you want to remove the default button padding and border, you can add the following: */
.card-footer button {
  padding: 0; /* Remove default padding */
  border: none; /* Remove default border */
  outline: none; /* Remove outline on focus */
}

/* Styles for the map */
#map {
  /* Add styles for the map container */
  height: 200px; /* Set the height as needed */
  border: 1px solid #ccc;
  margin-top: 10px;
  border-radius: 8px;
  width: 90%;
}

/* Styles for the buttons */
.material-icons {
  font-size: 24px;
}
