body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}


.titulo {
  color: #000000;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}

.container {
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);  
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 700px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px auto;
}
.fecha {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 500px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
}
.example-form {
  display: flex;
  flex-direction: column;
}

.mat-form-field {
  margin: 10px 0;
  width: 100%;
}

input.mat-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

mat-label {
  font-weight: bold;
}

.seccion._fechas {
  display: flex;
}

.mat-datepicker-toggle {
  cursor: pointer;
}

button.boton_registro {
  background-color: #38ecd4;
  color: #000000;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
}

button.boton_registro:hover {
  background-color: #080808;
   color: #fff;
}

mat-error {
  color: #e74c3c;
}

/*Estilos para el encabezado*/
  
 /*Pequeña actualizacion Copiar desde aqui*/
 .encabezado {
  text-align: left;
  background-color: #f2f2f2;
  padding: 30px;
}

.encabezado .btn-menu {
  width: 50px;
  height: 50px;
  background-color: #1f1f1f;
  border-radius: 50%; /* Hace que el botón sea completamente redondo */
  cursor: pointer;
  display: flex; /* Usar flexbox para centrar contenido vertical y horizontalmente */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}

.encabezado .btn-menu label {
  font-size: 25px;
  color: #f2f2f2;
  cursor: pointer;
}

.encabezado .btn-menu:hover {
  background-color: #414141; /* Cambia el color de fondo al pasar el mouse */
  transition: background-color 250ms ease; /* Agrega una transición suave */
}

/*----------hasta aqui--------------*/

  .container .btn-menu,
  .logo {
    float: left;
    line-height: 100px;
  }
  
  .container .btn-menu label {
    color: #0f0f0f;
    font-size: 25px;
    cursor: pointer;
  }
  
  .logo h1 {
    color: #fff;
    font-weight: 400;
    font-size: 22px;
    margin-left: 10px;
  }
  
  
  .container .menu a {
    display: inline-block;
    padding: 15px;
    line-height: normal;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
    font-size: 15px;
    margin-right: 5px;
  }
  
  .container .menu a:hover {
    border-bottom: 2px solid #c7c7c7;
    padding-bottom: 5px;
  }
  
  
  /*Fin de Estilos para el encabezado*/
  
  /*Menù lateral*/
  #btn-menu {
    display: none;
  }
  
  .container-menu {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
  }
  
  #btn-menu:checked~.container-menu {
    opacity: 1;
    visibility: visible;
  }
  
  .cont-menu {
    width: 100%;
    max-width: 250px;
    background: #1c1c1c;
    height: 100vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
  }
  
  #btn-menu:checked~.container-menu .cont-menu {
    transform: translateX(0%);
  }
  
  .cont-menu nav {
    transform: translateY(15%);
  }
  
  .cont-menu nav a {
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #c7c7c7;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
  }
  
  .cont-menu nav a:hover {
    border-left: 5px solid #c7c7c7;
    background: #1f1f1f;
  }
  
  .cont-menu label {
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
  }