<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <router-outlet></router-outlet>
    <app-navbar></app-navbar>
    <div [hidden]="route.children.length !== 0">
      <div class="titulo">
        <h2>Registrar</h2>
      </div>
      <div class="container">
        <form [formGroup]="form" (submit)="registrar()" class="example-form">
          <br />
          <mat-form-field class="example-full-width">
            <mat-label> <mat-icon>tab</mat-icon> Tipo de membresia </mat-label>
            <input
              matInput
              placeholder="Tipo de membresia"
              formControlName="tipoMembresia"
            />
            <mat-error
              *ngIf="obtenerControlCampo('tipoMembresia')?.errors?.['required']"
            >
              El nombre es obligatorio.
            </mat-error>
          </mat-form-field>
          <div class="seccion _fechas">
            <mat-form-field class="fecha">
              <mat-label>Fecha de Inicio</mat-label>
              <input
                matInput
                [matDatepicker]="pickerInicio"
                placeholder="Fecha de inicio"
                formControlName="fechaInicio"
                [min]="minFecha"
              />
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle
                matIconSuffix
                [for]="pickerInicio"
              ></mat-datepicker-toggle>
              <mat-datepicker #pickerInicio></mat-datepicker>
              <mat-error
                *ngIf="obtenerControlCampo('fechaInicio')?.errors?.['required']"
              >
                La fecha de inicio es obligatoria.
              </mat-error>
            </mat-form-field>
            <mat-form-field class="fecha">
              <mat-label>Fecha de expiración</mat-label>
              <input
                matInput
                [matDatepicker]="pickerExpiracion"
                placeholder="Fecha de expiración"
                formControlName="fechaFin"
                [min]="minFecha"
              />
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle
                matIconSuffix
                [for]="pickerExpiracion"
              ></mat-datepicker-toggle>
              <mat-datepicker #pickerExpiracion></mat-datepicker>
              <mat-error
                *ngIf="obtenerControlCampo('fechaFin')?.errors?.['required']"
              >
                La fecha de expiración es obligatoria.
              </mat-error>
            </mat-form-field>
          </div>
          <mat-form-field class="example-full-width">
            <mat-label> <mat-icon>attach_money</mat-icon> Precio </mat-label>
            <input matInput placeholder="Precio" formControlName="precio" />
            <mat-error
              *ngIf="obtenerControlCampo('precio')?.errors?.['required']"
            >
              El precio es obligatorio.
            </mat-error>
          </mat-form-field>
          <br />
          <button class="boton_registro" mat-button>
            <mat-icon>input</mat-icon> Registrar
          </button>
        </form>
      </div>
    </div>
    <app-footer></app-footer>
  </body>
</html>
