<router-outlet></router-outlet>
<app-navbar></app-navbar>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container" style="text-align: center">
      <h2>Registro de ingredientes</h2>
      <form [formGroup]="form" (submit)="aceptar()" class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>nombreRol</mat-label>
          <input matInput placeholder="nombreRol" formControlName="nombreRol" />
          <!-- Esto es lo que importa, debe coincidir con el TS del formBuilder-->
          <mat-error
            *ngIf="obtenerControlCampo('nombreRol')?.errors?.['required']"
          >
            El nombre es obligatorio.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>usuario</mat-label>
          <mat-select formControlName="usuario">
            <mat-option *ngFor="let p of listaUsuarios" [value]="p.idUsuario">
              {{ p.nombre }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="obtenerControlCampo('usuario')?.errors?.['required']"
          >
            El postre es obligatorio.
          </mat-error>
        </mat-form-field>
        <br />
        <button mat-raised-button color="primary">Aceptar</button>

        <p>{{ mensaje }}</p>
      </form>
    </div>
  </body>
</html>
<app-footer></app-footer>
