<router-outlet></router-outlet>
<app-navbar></app-navbar>
<div [hidden]="route.children.length !== 0">
  <!DOCTYPE html>
  <html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="home-arrendador.component.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>Document</title>
  </head>

  <body>
    <div>
      <header class="encabezado">
        <div class="btn-menu">
          <label for="btn-menu">☰</label>
        </div>
      </header>
      <input type="checkbox" id="btn-menu" />
      <div class="encabezado-menu">
        <div class="cont-menu">
          <nav>
            <a href="localizaciones">Localizaciones</a>
            <a href="listar_horario">Horarios</a>
          </nav>
          <label for="btn-menu">✖️</label>
        </div>
      </div>
    </div>

    <div class="contenido-principal">
      <div class="textoPrincipal">
        <h1>Bienvenido al Portal Arrendador</h1>
        <p>Aquí podrás gestionar tus propiedades y mucho más.</p>
      </div>

      <div class="container">
        <div class="intro">
          <h2>
            ¡Comienza a aprovechar todas las ventajas de nuestro portal!
          </h2>
        </div>
        <div class="features">
          <div class="feature">
            <img
              src="https://img.freepik.com/foto-gratis/vista-3d-mapa_23-2150471680.jpg?w=900&t=st=1698021398~exp=1698021998~hmac=0ae3464bd1e66484fbdb33c7cb121a31d27ba98d7fec07a908d2a85baf2362af"
              alt="Imagen 1" />
            <h3>Encuentra tu estacionamiento más cercano</h3>
            <p>
              Publica tus propiedades de manera sencilla y llega a un amplio
              público interesado en el arrendamiento.
            </p>
          </div>

          <div class="feature">
            <img
              src="https://img.freepik.com/foto-gratis/entrada-casa-cultura-japonesa_23-2149301056.jpg?w=1380&t=st=1697996961~exp=1697997561~hmac=61a4f937cadc661ee4f6db52b0b43979c444d3d1dc2b859c66e9ec53dcd34c85"
              alt="Imagen 2" />
            <h3>Gestiona tus anuncios</h3>
            <p>
              Administra y actualiza tus anuncios de manera eficiente para
              atraer a inquilinos de calidad.
            </p>
          </div>

          <div class="feature">
            <img
              src="https://img.freepik.com/foto-gratis/persona-cuidando-coche-electrico_23-2149362798.jpg?w=1380&t=st=1697996977~exp=1697997577~hmac=9f0f4cb57fc41782ece89d023544ffd3fa36e5ba7fa0cdc0c86bea96db72aac1"
              alt="Imagen 3" />
            <h3>Comunícate con los inquilinos</h3>
            <p>
              Mantén un canal de comunicación con los inquilinos para resolver
              dudas y coordinar visitas.
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>

  </html>
</div>
<app-footer></app-footer>