@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Ubuntu:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300;1,700&display=swap');

*{
     margin: 0;
     padding: 0;
     border: 0;
     vertical-align: baseline;
     box-sizing: border-box;
}
body{
    text-align: center;
}
html{
    scroll-behavior: smooth;
}

h1{font-size: 56px;}
h2{font-size: 2.7em;}
h3{font-size: 2em;}
p{font-size: 1.25em;}
ul{list-style: none;}


/*Encabezado------------*/

.head{

    width: 100%;
    background-color: rgb(0, 0, 0);
    position: fixed;
    z-index: 10;
    height: auto;
    min-width: 475px;
    /*
    display: flex;
    flex-wrap: wrap;*/
}

.logo{
    display: flex;
    align-items: center;
    float: left;
    line-height: 0px;
}
.logo_imagen{
    height: 50px;
    margin: 10px;
}
a{
    color: white;
    text-decoration: none;
    font-size: 10px;
}
nav a{
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 12px;
    margin: 12px;
    line-height: normal;
    font-size: 16px;
    transition: all 500ms ease;
    border-bottom: 4px solid transparent;
}

nav ul li{
    display: inline-block;
}


nav a:hover{
    background: #585858;
    cursor: pointer;
    color: white;
}
nav li li a{
    background-color:#30e298;
    color: #000000;
    text-decoration: none;
    display: block;
    border-bottom: 4px solid #747474;
    transition: .5s;
}
.ul, ol{
    list-style: none;

}
nav > li{
    float: left;

}
nav li ul{
    display: none;
    position: absolute;
    min-width: 140px;
}
nav li:hover > ul{
    display: block;
}


.checkbtn{
    font-size: 30px;
    color: rgb(255, 255, 255);
    float: right;
    line-height: 80px;
    cursor: pointer;
    margin-right: 40px;
    display: none;

}
#check{
    display: none;
}



/*Index - Slogan inicial*/

button{
    font-size: 15px;
    font-weight: bold;
    padding:10px 20px;
    border-radius: 10px;
    border:2px solid rgba(0,0,0,0.5);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: rgb(0, 0, 0);
    background-color: #30e298;
    margin: 30px;
    cursor: pointer;
}

.download-app button:hover{
    background: #757575;
    cursor: pointer;
    color: white;
    transition: .5s;
}


#Slogan-Inicial{

    padding-top: 250px;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    text-align: center;
    background-position: center center;
    height: auto;
    color: white;
    min-width: 475px;
    width: 100%;
    background:rgb(30, 209, 155);
    background: -webkit-linear-gradient(to right, #07181f69, #34e89d86), url("/assets/image/Fondo2.png");
    background: linear-gradient(to right, #091d2577, #34e89d88), url("/assets/image/Fondo2.png");

    background-size: cover;
    background-attachment: fixed;
    position: relative;

}
#Slogan-Inicial .container{
    overflow: hidden;
    margin: 0 auto;
    max-width: 1200px;
    
}

#Slogan-Inicial .presentation h2{
    padding: 25px;
    font-size: 96px;
    color: #30e298;
    
}

#Slogan-Inicial .Olas{
    position: absolute;
    bottom: 0;
    width: 100%;
}

#Slogan-Inicial .container .image-download{
    display: flex;
    justify-content: center;
    padding: 50px;

}
.img-1{
    width: 210px;
    height: 60.5px;
    border-radius: 5px;
    margin: 10px;
}
.img-2{
    width: 210px;
    height: 60.5px;
    border-radius: 5px;
    margin: 10px;
    /*
    box-shadow: 0px 0px 30px -5px rgb(255, 255, 255);
    */
}

.img-1:hover{
    transform: scale(1.1);
    transition: .5s;
    cursor: pointer;
}
.img-2:hover{
    transform: scale(1.1);
    transition: .5s;
    cursor: pointer;
}

/*Caracteristicas--------------*/

#Caracteristicas {
    height:auto;
    padding-top: 10px;
    background: linear-gradient(to bottom, rgb(0, 214, 125), rgb(30, 209, 155));
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-position:  center;
    min-width: 475px;
}


#Caracteristicas .contenido{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* flex-wrap: wrap; */
}
#Caracteristicas .container .imagenPrincipal img{
   width: 640px;
   height: 740px;
}

#Caracteristicas .Cuadros:hover{
    transform: scale(1.2);
    transition: .5s;
    cursor: pointer;
}

#Ola_caracteristicas .Olas{

    position: static;
    bottom: 1;
    width: 100%;
    margin-top: -50px;
    min-width: 475px;
}

#Ola_caracteristicas .Olas{

    background-color: rgb(30, 209, 155)
}

#Caracteristicas .container .Cuadrados .Seccion .Cuadros h2{
    font-size: 25px;
    margin-top: 50px;
    color: rgb(0, 0, 0);

}


#Caracteristicas .container .Cuadrados .Seccion .Cuadros p{

    font-size: 15px;
    margin-top: 25px;
    width: 160px;
    justify-content: center;
    color: rgb(0, 0, 0);
    text-align: center;

}
#Caracteristicas .container .Cuadrados .Seccion .Cuadros{
    width: 200px;
    height: 260px;
    margin: 20px;
    text-align: center;
    background-image: linear-gradient(to top, #9795f0 0%, #fbc8d4 100%);
    border-radius: 25px;
    color: rgb(0, 0, 0);

    align-items: center;
    justify-content: center;
    text-align: center;
    background-position: center ;


}

#Caracteristicas .container .Cuadrados {
    justify-content: center;
    max-width: 800px;
    align-items: center;
    min-width: 300px;
    margin-top: 120px;


}

#Caracteristicas .container .Cuadrados .Seccion{
    display: flex;
    margin: auto;
}

#Caracteristicas h1{
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 56px;
}

#Caracteristicas p{
    margin: auto;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    font-size: 25px;
}

/*Segmentos de Usuarios--------------*/

#Segmentos {
    background-size: auto;
    background-color: #000000;
    margin: auto;
    height: auto;
    min-width: 475px;
}
#Segmentos .container{
    justify-content: center;
    margin-top: -20px;
}


#Segmentos  .titulo h1{

    text-align: center;
    color: #2ef190;;
    font-size: 56px;
    padding: 15px;
}
#Segmentos  .titulo p{

    text-align: center;
    color: #ffffff;;
    font-size: 23px;
    padding: 15px;
}


#Segmentos .Conductor h2{

    text-align: center;
    color: #2ef190;;
    font-size: 23px;
    padding: 15 px;
}

#Segmentos .arredandor h2{

    text-align: center;
    color: #2ef190;;
    font-size: 23px;
}


#Segmentos .contenido{
    justify-content: center;
}

#Segmentos  .arredandor {
    align-items: center;
    justify-content: center;
    height: auto;
    width: auto;
    display: flex;

    flex-wrap: wrap;

}
#Segmentos  .Conductor {
    align-items: center;
    justify-content: center;
    display: flex;
    height: auto;
    flex-wrap: wrap;
}

#Segmentos .arredandor p{
    max-width: 500px;
    color: white;
    text-align: justify;
    padding-right: 20px;
    padding-left: 20px;
}

#Segmentos .Conductor p{
    max-width: 500px;
    color: white;
    text-align: justify;
    padding-right: 20px;
    padding-left: 20px;
}


.Conductor button:hover{
    background: #757575;
    cursor: pointer;
    color: white;
    transition: .5s;
}
.arredandor button:hover{
    background: #757575;
    cursor: pointer;
    color: white;
    transition: .5s;
}

.Conductor .slider{
    order: 0;
}
.Conductor .texto {
    order: 0;
}
.arredandor .slider{
    order: 0;
}
.arredandor .texto {
    order: 0;
}


.slider{
    width: 500px;
    height: 300px;
    overflow: hidden;
}

.slider ul{
    padding: 0;
    display: flex;
    width: 500px;

    animation: cambio 15s infinite alternate;
}
.slider li{
    width: 100%;
    list-style: none;
}

.slider img{
    width: 500px;
    height: 300px;
    border-radius: 5%;
}

@keyframes cambio {
    0%{margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}


/*Testimonios-------------*/

#thirdsection-1{
    height: auto;
    background: linear-gradient(to bottom, rgb(0, 214, 125), rgb(30, 209, 155));
    margin: auto;
    background-size: cover;
    min-width: 475px;
}

#thirdsection-1 .container{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin-top: 80px;
    flex-wrap: wrap;
}

#thirdsection-1 .Testimonios_texto .h1{
    margin: auto;
    margin-top: 0;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
}
#thirdsection-1 .Testimonios_texto p{
    margin: auto;
    margin-top: 0;
    justify-content: center;
    align-items: center;
    color: rgb(71, 71, 71);
}


#thirdsection-1 .testimonio{
    width: 380px;
    height: 500px;
    margin: 40px;
    padding: 75px;
    text-align: center;
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 15px;
    color: rgb(223, 223, 223);
    margin-bottom: 100px;
}

#thirdsection-1 .testimonio:hover{
    transform: scale(1.1);
    transition: .4s;
}

#thirdsection-1 .container .testimonio p{
    margin-top: -80px;
}

#thirdsection-1 .container .testimonio h3{
    margin-top: 25px;
    font-size: 2rem;
    color: #30e298;
}

#thirdsection-1 .container .testimonio h4{
    font-size: 1.0rem;
    margin-top: 25px;
}

#thirdsection-1 .container .testimonio h1{
    font-size: 80px;
    margin-top: 25px;
}

#thirdsection-1 .container .testimonio .icons{
    padding: 10px;
    color: #30e298;
    font-size: 1.2rem;
    margin-top: 25px;
}

.foto-perfil1,.foto-perfil2,.foto-perfil3, .foto-perfil4{
    width: 180px;
    height: 180px;
    background-position: center;
    background-size: cover;
    margin: auto;
    border-radius: 50%;
    position: relative;
    top: -120px;

    /*
    box-shadow: 0px 0px 30px -5px rgb(255, 255, 255);
    */
}
#thirdsection-1 .foto-perfil1{
    background-image: url("/assets/image/nayde.jpg");
}

#thirdsection-1 .foto-perfil2{
    background-image: url("/assets/image/Perfil2.jpg");
}

#thirdsection-1 .foto-perfil3{
    background-image: url("/assets/image/Perfil1.jpg");
}
#thirdsection-1 .foto-perfil4{
    background-image: url("/assets/image/Perfil3.jpg");
}
.testimonio h1{
    margin-top: -20px;
    font-size: 80px;
}

#thirdsection-1 .testimonio p{
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
    margin-top: 40px;

}


/*Waves index*/

.content,.header,.waves {
    position: relative
}

.content,.flex,.header {
    text-align: center
}

body {
    margin: 0
}

.header {
    background: linear-gradient(60deg,#543ab7 0,#00acc1 100%);
    color: #fff;
    height: 500px
}

.inner-header {
    height: 65vh;
    width: 100%;
    margin: 0;
    padding: 0
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center
}

.waves {
    width: 100%;
    height: auto;
    margin-bottom: -7px;
    min-height: 100px;
    max-height: 150px
}

.content {
    height: 20vh;
    background-color: #fff
}

.parallax>use {
    animation: 25s cubic-bezier(.55,.5,.45,.5) infinite move-forever
}

.parallax>use:first-child {
    animation-delay: -2s;
    animation-duration: 7s
}

.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s
}

.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s
}

.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px,0,0)
    }

    100% {
        transform: translate3d(85px,0,0)
    }
}

@media (max-width: 768px) {
    .waves {
        height:40px;
        min-height: 40px
    }

    .content {
        height: 30vh
    }

}

/*Animaciones*/

@keyframes moving_object {
    0%,100% {
        transform: translateY(0)
    }

    50% {
        transform: translateY(-30px)
    }
}


.contenido .imagenPrincipal{
    animation: 6s linear infinite moving_object;
}


/*Animacion H1 inicial*/
/* Definici칩n de la animaci칩n */
@keyframes fadeInUp   {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
  }
  
  /* Estilo base del h2 */
  .presentation h2 {
    animation: fadeInUp  1.5s forwards;
  }
  #Slogan-Inicial p{
    animation: fadeInUp  1.5s forwards;
  }
   h1 {
    animation: fadeInUp  1.5s forwards;
  }
  #Caracteristicas .titulo p{
    animation: fadeInUp  1.5s forwards;
  }
  #Segmentos .titulo p{
    animation: fadeInUp  1.5s forwards;
  }
  #thirdsection-1 .Testimonios_texto p{
        animation: fadeInUp  1.5s forwards;
    }
  

  /*Animacion para Play Store y App Store*/

  @keyframes bounceSlow {
    0%, 100% {
      transform: translateY(0); /* Estado inicial y final */
    }
    50% {
      transform: translateY(-10px); /* Punto m치s alto del rebote */
    }
  }
  
  
  .image-download {
    animation: bounceSlow 3s infinite ease-in-out; /* Aplicar la animaci칩n */
  }
  

  
/*Pie de pagina - Footer*/

footer {
    width: 100%;
    height: 300px;
    background-color: #000000;
    margin-top: auto;
    padding: 20px;
    min-width: 475px;
}
footer .container{
    display: flex; /*Columnas una de otras*/
    flex-wrap: wrap; /*Columnas debajo de otras*/
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
}

footer .seccion{
    display: flex;
    flex-direction: column;
    padding: 20px;
    line-height:0;
}

footer .seccion .logo img{
    width: 80px;
    height: 80px;
}

footer H2{

    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;

    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-weight: 500;
}
footer .seccion a{

    color: rgb(184, 184, 184);
    margin-top: 10px;
    margin-bottom: 10px;
    padding: auto;
    margin-right: auto;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
}
footer .seccion a:hover{
    opacity: 0.8;
}
footer .seccion a .fab{
    font-size: 12px;

}

footer H3{

    color: white;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
}

footer .Copyright{
    max-width: 1400px;
    margin: auto;
    text-align: center;
    padding: 0px 50px;
}

footer .Copyright p{

    margin-top: 20px;
    color: #ffffff;
    font-size: 15px;
}

footer .Copyright hr{

    border: none;
    height: 1px;
    background-color: #7a7a7a;
}
