.spacer{
  flex: 1 1 auto;
}
.boton-verde-esmeralda {
  background-color: #164b31; /* C칩digo de color para verde esmeralda */
  color: rgb(31, 65, 20); /* Color del texto */
  border-radius: 20px; /* Bordes redondeados */
}
.logo{
  width: 50px;
  height: 50px;
}
.mat-toolbar button {
  margin-right: 10px; /* A침ade margen a la derecha de cada bot칩n */
}

/* Estilo para el hover en los botones */
.mat-toolbar button:hover {
  background-color: #5e5e5e; /* Cambia el color de fondo al pasar el mouse */
  transition: background-color 250ms ease; /* Agrega una transici칩n suave */
  border-radius: 20px; /* Bordes redondeados */
}
